@model CoreTeamProject.Models.Events

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <!-- Begin Bottom Section -->
    <!-- Blog Preview
    ================================================== -->
    <div class="span12">

        <h5 class="title-bg">
            From The Scoop:
            <small>Check out this cool event</small>            
        </h5>
    </div>       

        <div id="blogCarousel" class="carousel slide span7">

            <!-- Carousel items -->
            <div class="carousel-inner">
                <!-- Blog Item 1 -->
                <div class="active item">
                    <a href="blog-single.htm"><img src="~/img/events/@(Model.eventID + ".jpg")" alt="" class="align-left img-responsive" style="max-width:400px;"/></a>
                    <div class="post-info clearfix">
                        
                            <h4>@Html.DisplayFor(model => model.eventName)</h4>

                            <ul class="blog-details-preview">
                                <li><i class="fa fa-building"></i>  @Html.DisplayFor(model => model.eventLocation)
                                <li>
                                <li><i class="fa fa-calendar"></i>  @Html.DisplayFor(model => model.eventDate)
                                <li>
                                <li><i class="fa fa-clock-o"></i>  @Html.DisplayFor(model => model.eventTime)
                                <li>
                                <li><i class="fa fa-credit-card"></i>  @Html.DisplayFor(model => model.eventCost)
                                <li>
                                <li><i class="fa fa-phone"></i>  @Html.DisplayFor(model => model.eventPhoneNumber)
                                <li>
                                <li><i class="fa fa-at"></i>  @Html.DisplayFor(model => model.eventEmail)
                                <li>
                            </ul>
                        
                    </div>

                    <p class="blog-summary">
                        
                           
                        
                    <p>
                </div> 
        </div>
    </div>

    <!-- Client Area
    ================================================== -->
    <div class="span5">        

        <!-- Client Testimonial Slider-->
        <div id="clientCarousel" class="carousel slide no-margin">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <p class="quote-text">
                    @Html.DisplayFor(model => model.eventDescription)
               </p>
               

</div>
        </div>

        <!-- Client Logo Thumbs-->
        <ul class="client-logos">
            <li><a href="@Model.Facebook" class="client-link"><img src="~/img/gallery/facebook-img.png" alt="Client"></a></li>
            <li><a href="@Model.Twitter" class="client-link"><img src="~/img/gallery/twitter.png" alt="Client"></a></li>            
            <li><a href="@Model.Instagram" class="client-link"><img src="~/img/gallery/instagram.png" alt="Client"></a></li>
            <li><a href="@Model.Website" class="client-link"><img src="~/img/gallery/website.png" alt="Client"></a></li>
        </ul>

    </div>

</div><!-- End Bottom Section -->

<div>
    @if(User.IsInRole("admin"))
    { 
    <a asp-action="Edit" asp-route-id="@Model.eventID">Edit |</a>
    }
  
    @if (Model.subCategoryID == 1 || Model.subCategoryID == 2 || Model.subCategoryID == 3 || Model.subCategoryID == 4)
    {
        <a asp-action="Index" asp-route-id="3">Back To List</a>

    }
    @if (Model.subCategoryID == 5 || Model.subCategoryID == 6 || Model.subCategoryID == 7)
    {
        <a asp-action="Index" asp-route-id="2">Back To List</a>

    }
    @if (Model.subCategoryID == 8 || Model.subCategoryID == 9 || Model.subCategoryID == 10 || Model.subCategoryID == 15)
    {
        <a asp-action="Index" asp-route-id="4">Back To List</a>

    }
    @if (Model.subCategoryID == 11 || Model.subCategoryID == 12 || Model.subCategoryID == 13 || Model.subCategoryID == 14)
    {
        <a asp-action="Index" asp-route-id="1">Back To List</a>

    }
</div>

