@model IEnumerable<CoreTeamProject.Models.Events>
@{
    ViewData["Title"] = "Events";
}

<div class="row">
    <!-- Begin Bottom Section -->
    <!-- Blog Preview
    ================================================== -->
    <div class="span6">

        <h5 class="title-bg">
            From the Blog
            <small>All the latest news</small>
            <button id="btn-blog-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
            <button id="btn-blog-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
        </h5>

        <div id="blogCarousel" class="carousel slide ">

            <!-- Carousel items -->
            <div class="carousel-inner">

                <!-- Blog Item 1 -->
                <div class="active item">
                    <a href="blog-single.htm"><img src="~/img/gallery/blog-med-img-1.jpg" alt="" class="align-left blog-thumb-preview" /></a>
                    <div class="post-info clearfix">
                        <h4>@Html.DisplayNameFor(model => model.eventName)</h4>
                        @foreach (var item in Model)
                        {
                        <ul class="blog-details-preview">
                            <li><i class="icon-calendar"></i>@Html.DisplayNameFor(model => model.eventDate) @Html.DisplayFor(modelItem => item.eventDate)
                            <li>
                            <li><i class="icon-time"></i>@Html.DisplayNameFor(model => model.eventTime)
                            <li>
                            <li><i class="icon-user"></i><strong>Posted by:</strong> <a href="#" title="Link">Admin</a>
                            <li>
                            <li><i class="icon-comment"></i><strong>Comments:</strong> <a href="#" title="Link">12</a>
                            <li>
                            <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a>, <a href="#">illustration</a>
                        </ul>
                        }
                    </div>

                    <p class="blog-summary">
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.eventDescription)
                        }
                    <p>
                </div>

                <!-- Blog Item 2 -->
                <div class="item">
                    <a href="blog-single.htm"><img src="img/gallery/blog-med-img-1.jpg" alt="" class="align-left blog-thumb-preview" /></a>
                    <div class="post-info clearfix">
                        <h4><a href="blog-single.htm">A great artist is always before his time</a></h4>
                        <ul class="blog-details-preview">
                            <li><i class="icon-calendar"></i><strong>Posted on:</strong> Sept 4, 2015
                            <li>
                            <li><i class="icon-user"></i><strong>Posted by:</strong> <a href="#" title="Link">Admin</a>
                            <li>
                            <li><i class="icon-comment"></i><strong>Comments:</strong> <a href="#" title="Link">12</a>
                            <li>
                            <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a>, <a href="#">illustration</a>
                        </ul>
                    </div>
                    <div>
                        @foreach (var item in Model)
                        {
                        @Html.DisplayFor(modelItem => item.eventDescription)
                        }
                    </div>
                </div>

                <!-- Blog Item 3 -->
                <div class="item">
                    <a href="blog-single.htm"><img src="~/img/gallery/blog-med-img-1.jpg" alt="" class="align-left blog-thumb-preview" /></a>
                    <div class="post-info clearfix">
                        <h4><a href="blog-single.htm">Is art everything to anybody?</a></h4>
                        <ul class="blog-details-preview">
                            <li><i class="icon-calendar"></i><strong>Posted on:</strong> Sept 4, 2015
                            <li>
                            <li><i class="icon-user"></i><strong>Posted by:</strong> <a href="#" title="Link">Admin</a>
                            <li>
                            <li><i class="icon-comment"></i><strong>Comments:</strong> <a href="#" title="Link">12</a>
                            <li>
                            <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a>, <a href="#">illustration</a>
                        </ul>
                    </div>
                    <p class="blog-summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum felis fermentum
                        ipsum molestie sed porttitor ligula rutrum. Vestibulum lectus tellus, aliquet et iaculis sed, volutpat
                        vel erat. <a href="#">Read more</a>
                    <p>
                </div>

            </div>
        </div>
    </div>

    <!-- Client Area
    ================================================== -->
    <div class="span6">

        <h5 class="title-bg">
            Recent Clients
            <small>That love us</small>
            <button id="btn-client-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
            <button id="btn-client-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
        </h5>

        <!-- Client Testimonial Slider-->
        <div id="clientCarousel" class="carousel slide no-margin">
            <!-- Carousel items -->
            <div class="carousel-inner">

                <div class="active item">
                    <p class="quote-text">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum felis fermentum
                        ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices. Vivamus nec lectus sed orci
                        molestie molestie."<cite>- Client Name, Big Company</cite>
                    </p>
                </div>

                <div class="item">
                    <p class="quote-text">
                        "Adipiscing elit. In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum.
                        Morbi blandit ultricies ultrices. Vivamus nec lectus sed orci molestie molestie."<cite>
                            - Another Client Name,
                            Company Name
                        </cite>
                    </p>
                </div>

                <div class="item">
                    <p class="quote-text">
                        "Mauris eget tellus sem. Cras sollicitudin sem eu elit aliquam quis condimentum nulla suscipit.
                        Nam sed magna ante. Ut eget suscipit mauris."<cite>- On More Client, The Company</cite>
                    </p>
                </div>

            </div>
        </div>

        <!-- Client Logo Thumbs-->
        <ul class="client-logos">
            <li><a href="#" class="client-link"><img src="~/img/gallery/facebook-img.jpg" alt="Client"></a></li>
            <li><a href="#" class="client-link"><img src="~/img/gallery/client-img-2.png" alt="Client"></a></li>
            <li><a href="#" class="client-link"><img src="~/img/gallery/client-img-3.png" alt="Client"></a></li>
            <li><a href="#" class="client-link"><img src="~/img/gallery/client-img-4.png" alt="Client"></a></li>
            <li><a href="#" class="client-link"><img src="~/img/gallery/client-img-5.png" alt="Client"></a></li>
        </ul>

    </div>

</div><!-- End Bottom Section --><p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.eventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eventDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eventDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eventTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eventLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eventEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eventPhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eventCost)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.eventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategory.subCategoryID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.eventID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.eventID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.eventID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
